# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environments
venv/
env/

# Ignore SQLite database (if using SQLite for testing)
db.sqlite3

# Ignore environment variables file
.env

# Ignore logs and system files
*.log
*.swp